@model SistemaUniversidad.Models.CIUDAD

@{
    ViewBag.Title = "EditarCiudad";
    Layout = "~/Views/Shared/_LayoutBarraMenu.cshtml";
}

<style>
    /* Agrega un estilo personalizado para aumentar el tamaño de la fuente del nombre de la ciudad */
    .nombre-ciudad {
        font-size: 18px; /* Puedes ajustar el tamaño según tus preferencias */
        /* Otros estilos si es necesario */
    }
    /* Agrega un estilo personalizado para aumentar el tamaño de la fuente del nombre de la ciudad */
    .nombre-ciudad {
        font-size: 18px; /* Puedes ajustar el tamaño según tus preferencias */
        /* Otros estilos si es necesario */
    }

    /* Cambia el color del encabezado "Agregar un Ciclo" */
    .card-header.custom-header {
        background-color: #3AA4F0; /* Cambia el color a naranja, puedes ajustarlo según tu preferencia */
    }
</style>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header custom-header text-white text-center">
                        <h4 class="mb-0">Editar Ciudad</h4>
                    </div>
                    <div class="card-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        @*<div class="form-group row">
                                @Html.LabelFor(model => model.nombreCiudad, htmlAttributes: new { @class = "col-md-2 col-form-label text-md-right" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.nombreCiudad, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.nombreCiudad, "", new { @class = "text-danger" })
                                </div>
                            </div>*@

                        <div class="form-group row">
                            <label for="nombreCiudad" class="col-md-4 col-form-label text-md-right">Nombre de la Ciudad</label>
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.nombreCiudad, new { htmlAttributes = new { @class = "form-control .nombre-ciudad" } })
                                @Html.ValidationMessageFor(model => model.nombreCiudad, "", new { @class = "text-danger" })
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-3">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="form-group row">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" class="btn btn-success">Guardar</button>
                        <a href="@Url.Action("Index")" class="btn btn-danger">Cancelar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
