@model IEnumerable<SistemaUniversidad.Models.CARRERA>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutBarraMenu.cshtml";
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="~/Content/tabla.css">
    <link rel="stylesheet" href="~/Content/BarraMenu.css">
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-qbp+GuLYVw8kKAtK2P7mCYX81fYj2cr29md+juVkE44Ycu15g8If2go4uS8Hg9dL/9v2U/fvf0WaO+9jqMRyVg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Tabla de Carrera</title>
</head>

<div class="container mt-5">
    <h2 class="text-center mb-4"><u>Lista de Carreras</u></h2>

    <!-- Botón para crear una nueva carrera -->
    <div class="mb-3">
        <a href="@Url.Action("AgregarCarrera", "Carrera")" class="btn btn-success">Crear Nueva Carrera</a>
    </div>

    <div class="table-responsive">
        <table class="table table-bordered table-striped centrar-contenido">
            <thead class="thead-dark">
                <tr>
                    <th>
                        Nombre de Carrera
                    </th>
                    <th>
                        Cantidad de Ciclos
                    </th>
                    <th>Funciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="long-content">
                            @Html.DisplayFor(modelItem => item.nombreCarrera)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.cantidadCiclo)
                        </td>
                        <td>
                            <button type="button" class="btn btn-info mr-2" onclick="location.href='@Url.Action("EditarCarrera", "Carrera", new { idCarrera = item.idCarrera })'">
                                Editar
                            </button>
                            <button type="button" class="btn btn-danger mr-2" onclick="location.href='@Url.Action("EliminarCarrera", "Carrera", new { idCarrera = item.idCarrera })'">
                                Eliminar
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
