@model IEnumerable<SistemaUniversidad.Models.CARRERA>

@{
    ViewBag.Title = "Lista de Carreras";
    Layout = "~/Views/Shared/_LayoutBarraMenu.cshtml";
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="~/Content/tabla.css">
    <link rel="stylesheet" href="~/Content/BarraMenu.css">
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-qbp+GuLYVw8kKAtK2P7mCYX81fYj2cr29md+juVkE44Ycu15g8If2go4uS8Hg9dL/9v2U/fvf0WaO+9jqMRyVg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Lista de Carreras</title>
</head>

<div class="container mt-5">
    <h2 class="text-center mb-4"><u>Lista de Carreras</u></h2>

    <!-- Botón para crear una nueva carrera -->
    <div class="mb-3">
        <a href="@Url.Action("AgregarCarrera", "Carrera")" class="btn btn-success">Crear Nueva Carrera</a>
    </div>

    <div class="table-responsive">
        <table class="table table-bordered">
            <thead class="bg-dark">
                <tr>
                    <th class="text-center">Nombre de Carrera</th>
                    <th class="text-center">Cantidad de Ciclos</th>
                    <th class="text-center">Funciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="text-center">@Html.DisplayFor(modelItem => item.nombreCarrera)</td>
                        <td class="text-center">@Html.DisplayFor(modelItem => item.cantidadCiclo)</td>
                        <td class="text-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-info me-2" onclick="location.href='@Url.Action("EditarCarrera", "Carrera", new { idCarrera = item.idCarrera })'">Editar</button>
                                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#eliminarCarreraModal" data-carreraid="@item.idCarrera" data-carreranombre="@item.nombreCarrera">
                                    Eliminar
                                </button>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="eliminarCarreraModal" tabindex="-1" aria-labelledby="eliminarCarreraModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="eliminarCarreraModalLabel">Eliminar Carrera</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                ¿Desea eliminar la Carrea <strong id="carreraNombre"></strong>?
            </div>
            <div class="modal-footer">
                @using (Html.BeginForm("EliminarCarrera", "Carrera", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="idCarrera" id="carreraId" />
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                }
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script>
        $('#eliminarCarreraModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget); // Botón que abrió el modal
            var carreraId = button.data('carreraid'); // Extraer la información de los atributos data-*
            var carreraNombre = button.data('carreranombre'); // Extraer la información de los atributos data-*

            var modal = $(this);
            modal.find('.modal-body #carreraNombre').text(carreraNombre);
            modal.find('.modal-footer #carreraId').val(carreraId);
        });
    </script>
}