@model IEnumerable<SistemaUniversidad.Models.MATERIA>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutBarraMenu.cshtml";
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="~/Content/tabla.css">
    <link rel="stylesheet" href="~/Content/BarraMenu.css">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-qbp+GuLYVw8kKAtK2P7mCYX81fYj2cr29md+juVkE44Ycu15g8If2go4uS8Hg9dL/9v2U/fvf0WaO+9jqMRyVg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha384-KyZXEAg3QhqLMpG8r+Knujsl7/5/7H7h9vr6j+to6C6ih/aH+R9CEy+CExH/H+B8X" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <title>Lista de Materias</title>
</head>

<div class="container mt-5">
    <h2 class="text-center mb-4"><u>Lista de Materias</u></h2>

    <!-- Botón para crear una nueva materia -->
    <div class="mb-3">
        <a href="@Url.Action("AgregarMateria", "Materia")" class="btn btn-success">Agregar una Nueva Materia</a>
    </div>

    <div class="table-responsive">
        <table class="table table-bordered">
            <thead class="bg-dark text-white">
                <tr>
                    <th class="text-center">Código de Materia</th>
                    <th class="text-center">Correlativas</th>
                    <th class="text-center">Nombre de la Materia</th>
                    <th class="text-center">Carrera</th>
                    <th class="text-center">Ciclo</th>
                    <th class="text-center">Funciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var elemento in Model)
                {
                    <tr>
                        <td class="text-center">@Html.DisplayFor(modelItem => elemento.codigoMateria)</td>
                        <td class="text-center">@Html.DisplayFor(modelItem => elemento.correlativas)</td>
                        <td class="text-center">@Html.DisplayFor(modelItem => elemento.nombreMateria)</td>
                        <td class="text-center">@Html.DisplayFor(modelItem => elemento.CARRERA.nombreCarrera)</td>
                        <td class="text-center">@Html.DisplayFor(modelItem => elemento.CICLO.nombreCiclo)</td>
                        <td class="text-center">
                            <button type="button" class="btn btn-info me-2" onclick="location.href='@Url.Action("EditarMateria", "Materia", new { idMateria = elemento.idMateria })'">Editar</button>
                            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#eliminarMateriaModal" data-materiaid="@elemento.idMateria" data-materianombre="@elemento.nombreMateria">Eliminar</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<!-- Modal de Confirmación para Eliminar Materia -->
<div class="modal fade" id="eliminarMateriaModal" tabindex="-1" aria-labelledby="eliminarMateriaModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="eliminarMateriaModalLabel">Eliminar Materia</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                ¿Está seguro de que desea eliminar la materia <strong id="materiaNombre"></strong>?
            </div>
            <div class="modal-footer">
                @using (Html.BeginForm("EliminarMateria", "Materia", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="idMateria" id="materiaId" />
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                }
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $('#eliminarMateriaModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget); // Botón que abrió el modal
            var materiaId = button.data('materiaid'); // Extraer la información del atributo data-*
            var materiaNombre = button.data('materianombre'); // Extraer la información del atributo data-*

            var modal = $(this);
            modal.find('.modal-body #materiaNombre').text(materiaNombre);
            modal.find('.modal-footer #materiaId').val(materiaId);
        });
    </script>
}
